/* Logo animation */
@keyframes cycle-color {
  0% {
    color: #7cfbd1;
    font-variation-settings: "wght" 1000;
  }
  20% {
    color: #7ce6fb;
  }
  40% {
    color: #7ca6fb;
  }
  60% {
    color: #917cfb;
  }
  80% {
    color: #d17cfb;
  }
  100% {
    color: #fb7ce6;
    font-variation-settings: "wght" 100;
  }
}

.logo-animation:hover,
.logo-animation:focus,
.logo-animation.animate-me--on {
  /* text-shadow: 0 0 2px rgba(0, 0, 0, 0.9); */
  animation-name: cycle-color;
  animation-duration: 1.4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
}

/* Disable all animations if the user has specified it */
@media (prefers-reduced-motion) {
  .logo-animation:hover,
  .logo-animation:focus,
  .logo-animation .animate-me--on {
    animation: none;
  }
}
