@import "tachyons";

:root {
  --primary: #eaeaea;
  --secondary: #1a1a1a;
  --accent: #7cfbd1;
}

.theme-dark {
  --primary: #eaeaea;
  --secondary: #1a1a1a;
  --accent: #7cfbd1;
}

/* Nav */
.nav-item-active {
  font-weight: 700;
  font-variation-settings: "wght" 700;
  text-decoration: underline;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  counter-increment: start-from -1;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}

/* Tags */
.tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--red);
  color: var(--white);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}
a[href].tag,
a[href].tag:visited {
  color: #fff;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

/* Custom styles */

.fg-primary {
  color: var(--primary);
}

.fg-secondary {
  color: var(--secondary);
}

.fg-accent {
  color: var(--accent);
}

.hover-fg-accent:hover {
  color: var(--accent);
}

/* Enhanced outline */
.focus-outline-accent:focus {
  outline: 0.125em var(--accent) solid;
  outline-offset: 0.125em;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-accent {
  background-color: var(--accent);
}

.fit-cover {
  object-fit: cover;
}

/* Generated content namespace */
.nested a,
.nested a:visited {
  color: var(--accent);
}

.nested a:hover {
}

.nested a:focus {
  text-decoration: none;
  outline: 0.125em var(--accent) solid;
  outline-offset: 0.125em;
}

/* Font stuff */
.fs-normal {
  font-style: normal;
}
.normal {
  font-weight: 400;
}
.b {
  font-weight: 700;
}
.fw1 {
  font-weight: 100;
}
.fw2 {
  font-weight: 200;
}
.fw3 {
  font-weight: 300;
}
.fw4 {
  font-weight: 400;
}
.fw5 {
  font-weight: 500;
}
.fw6 {
  font-weight: 600;
}
.fw7 {
  font-weight: 700;
}
.fw8 {
  font-weight: 800;
}
.fw9 {
  font-weight: 900;
}

/* Progressively enhance fwX classes to be variable.
 * NOTE: Phantom Sans v4 goes from Regular - Bold,
 * so the scale 0 - 1000 is skewed along that range.
*/
@supports (font-variation-settings: normal) {
  .normal {
    font-variation-settings: "wght" 1;
  }
  .b {
    font-variation-settings: "wght" 700;
  }
  .fw1 {
    font-variation-settings: "wght" 1;
  }
  .fw2 {
    font-variation-settings: "wght" 1;
  }
  .fw3 {
    font-variation-settings: "wght" 1;
  }
  .fw4 {
    font-variation-settings: "wght" 1;
  }
  .fw5 {
    font-variation-settings: "wght" 400;
  }
  .fw6 {
    font-variation-settings: "wght" 700;
  }
  .fw7 {
    font-variation-settings: "wght" 999;
  }
  .fw8 {
    font-variation-settings: "wght" 999;
  }
  .fw9 {
    font-variation-settings: "wght" 999;
  }
}

/* PhantomSans */
/* Variable and fallbacks.
 * @see https://medium.com/clear-left-thinking/how-to-use-variable-fonts-in-the-real-world-e6d73065a604
*/

/* PhantomSansVariable
 * Variable needs only woff2, since their support overlaps.
*/
@font-face {
  font-family: "PhantomSansVariable";
  font-display: swap;
  src: url(/fonts/phantom-sans-v4-variable.woff2) format("woff2");
  font-weight: 1 999;
}

/* PhantomSans-regular */
@font-face {
  font-family: "PhantomSans";
  /* TODO: reconsider font-display for these */
  font-display: swap;
  src: url(/fonts/phantom-sans-v4-regular.woff2) format("woff2"),
    url(/fonts/phantom-sans-v4-regular.woff) format("woff");
  font-weight: 400;
}

/* PhantomSans-bold */
@font-face {
  font-family: "PhantomSans";
  font-display: swap;
  src: url(/fonts/phantom-sans-v4-bold.woff2) format("woff2"),
    url(/fonts/phantom-sans-v4-bold.woff) format("woff");
  font-weight: 700;
}

/* Use @supports to pick the correct fonts */
.f-phantomsans {
  font-family: "PhantomSans", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

@supports (font-variation-settings: normal) {
  .f-phantomsans {
    font-family: "PhantomSansVariable", Arial, Helvetica, sans-serif;
    /* Normalise font-weight if not specified */
    font-variation-settings: "wght" 1;
  }
}

/* Skip Link */
.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.skip-link:focus {
  width: auto;
  height: auto;
  z-index: 111;
  clip: auto;
}

/* Prose */
.measure-prose {
  max-width: 70ch;
}

/* Vertical spacing */
.vs0 > * + * {
  margin-top: 0;
}
.vs1 > * + * {
  margin-top: 0.25rem;
}
.vs2 > * + * {
  margin-top: 0.5rem;
}
.vs3 > * + * {
  margin-top: 1rem;
}
.vs4 > * + * {
  margin-top: 2rem;
}
.vs5 > * + * {
  margin-top: 4rem;
}

/* Logo animation */
@keyframes cycle-color {
  0% {
    color: #7cfbd1;
  }
  10% {
    color: #7ce6fb;
  }
  20% {
    color: #7ca6fb;
  }
  30% {
    color: #917cfb;
  }
  40% {
    color: #d17cfb;
  }
  50% {
    color: #fb7ce6;
  }
  60% {
    color: #d17cfb;
  }
  70% {
    color: #917cfb;
  }
  80% {
    color: #7ca6fb;
  }
  90% {
    color: #7ce6fb;
  }
  100% {
    color: #7cfbd1;
  }
}

.logo-animation:hover,
.logo-animation:focus {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
  animation: cycle-color 2.4s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
}

@media (prefers-reduced-motion) {
  .logo-animation:hover,
  .logo-animation:focus {
    animation: none;
  }
}
