<article class="vs3">
  <div class="vs2">
    {% Subheading level=3 %}
      {{ latest.data.title }}
    {% endSubheading %}

    <time class="db" datetime="{{latest.data.date}}">
      {{latest.data.date | readableDate}}
    </time>
  </div>

  {# Video #}
  {% if latest.data.videoId %}
      {# TODO: make videoId a parameter of youtubeVideo #}
      {% set videoId = latest.data.videoId %}
      {% include "youtubeVideo.njk" %}
  {% endif %}

  {# Contents #}
  {% MarkdownBlock %}
    {{ latest.templateContent | safe }}
  {% endMarkdownBlock %}
</article>
