{# Progressively-enhanced, performant Youtube Video component.
In non-buzzword terms:
    - Get a videoId
    - Add video thumbnails as `img srcset` alternatives
        - Source: https://developers.google.com/youtube/v3/docs/thumbnails#properties
    - Preserve the aspect ratio to 16x9, and show a placeholder colour (this avoids layout shifting)
    - On user interaction, with JS, or with a noscript, load the actual Youtube video

This achieves a few things:
    - We do not hog the main thread loading 500kB of JS on load (!)
    - We respect user privacy by not loading all the ad trackers from the get go
    - We have a faster paint and interactive time. Those could be achieved just with the placeholder as well.
#}
<div class="vs3">
    <div class="aspect-ratio aspect-ratio--16x9 bg-primary">
        <iframe
            class="aspect-ratio--object fit-cover"
            src="{{videoId | youtubeEmbedUrl(clipTimeSeconds)}}"
            title="Youtube Player"
            id="ytplayer"
            type="text/html"
            frameborder="0">
        </iframe>
    </div>
    {% Text %}
        {% Link
            href=videoId | youtubeVideoUrl(clipTimeSeconds),
            isExternal=true
        %}
            You can also watch this video directly on Youtube.
        {% endLink %}
    {% endText %}
</div>
