---
layout: layouts/home.njk
permalink: 404.html
excludeFromSitemap: true
---

<article class="pt4 pt5-ns pb4 vs4">
  <h1 class="mv0 f2 f1-ns fw6 lh-title">Content not found.</h1>

  <div class="f4 nested-copy-line-height nested-headline-line-height nested-copy-separator nested-img nested measure-prose">
    <p>We couldn't find the page you are looking for. Sorry about that...</p>
  </div>
</article>

{# This will work for both GitHub pages and Netlify:

* https://help.github.com/articles/creating-a-custom-404-page-for-your-github-pages-site/
* https://www.netlify.com/docs/redirects/#custom-404 #}