---
layout: layouts/home.njk
tags:
  - nav
navtitle: Archive
title: Archive
permalink: /posts/
---

<article class="pv4 vs4">
  <h1 class="mv0 f2 fw6 lh-title">{{ title }}</h1>

  <div class="nested">
    {% set postslist = collections.posts %}
    {% include "postslist.njk" %}
  </div>
</article>