---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<h1 class="pv5 mv0 f2 f1-ns fg-accent ttu lh-title tc fw6 tracked logo-animation">
  Tech Weeklies
</h1>

<div class="vs4">
  <div class="vs3">
    <h2 class="mv0 f2 fw6 lh-title">Latest Talk</h2>
    <div class="aspect-ratio aspect-ratio--16x9 bg-moon-gray">
      <div class="aspect-ratio-object fit-cover">
      </div>
    </div>
  </div>

  <div class="vs3">
    <h2 class="mv0 f2 fw6 lh-title">Latest 3 Talks</h2>

    <div class="nested">
      {% set postslist = collections.posts | head(-3) %}
      {% include "postslist.njk" %}

      <p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
    </div>
  </div>
</div>
