{# Before the events have been attached, the button is not interactive.
   We must also communicate the pressed state both visually and to AT.

   @see js/animateMeButton.js for the interactive bits.
#}
<button id="animate-me-button" aria-pressed="false" disabled>Animate me!</button>