---
layout: layouts/base.njk
templateClass: tmpl-post
---
<article class="pt4 pt5-ns pb4 vs4">
  <div class="vs3">
    <h1 class="mv0 f2 f1-ns fw6 lh-title">{{ title }}</h1>

    <time class="db" datetime="{{date}}">
      {{date | readableDate}}
    </time>
  </div>

  {# Video #}
  {% if videoId %}
  <div class="aspect-ratio aspect-ratio--16x9 bg-moon-gray">
    <iframe class="aspect-ratio--object fit-cover" title={{title}} id="ytplayer" type="text/html"
      src="https://www.youtube.com/embed/{{videoId}}"
      frameborder="0">
    </iframe>
  </div>
  {% endif %}

  {# Contents #}
  <div class="f5 f4-ns nested-copy-line-height nested-headline-line-height nested-copy-separator nested-img nested measure-prose">
    {{ content | safe }}

    {# Backlink #}
    <p><a href="{{ '/' | url }}">← Home</a></p>
  </div>
</article>
