---
layout: layouts/home.njk
title: Offline
---

<article class="pt4 pt5-ns vs5 flex flex-column flex-auto justify-center items-center measure-prose center">
  <h1 class="tc f2 f1-ns fw6 lh-title">You are offline</h1>
  <div class="mw5 center fill-accent fg-accent animation-logo animate-me animate-me--on">
    {% include "svg/tech1.svg" %}
  </div>
  <p class="f4 lh-copy tc">
    It seems that you are offline at the moment, and we did not have a saved version of the page you are looking for.
  </p>
</article>
