---
layout: layouts/base.njk
title: About
tags:
  - nav
navtitle: About
templateClass: tmpl-post
---

<article class="pt4 pt5-ns pb4 vs4">
  <h1 class="mv0 f2 f1-ns fw6 lh-title">About Tech Weeklies</h1>

  <div class="vs3 f5 f4-ns measure-prose nested">
    <p>Every week, Futurice employees get together to share their latest thoughts about tech.</p>
    <div class="aspect-ratio aspect-ratio--6x4 bg-moon-gray">
      <img class="aspect-ratio--object fit-cover" src="" alt="" />
    </div>
  </div>
</article>
