---
layout: layouts/base.njk
title: About
tags:
  - nav
navtitle: About
templateClass: tmpl-post
---

<article class="pt4 pt5-ns pb4 vs4">
  {% Heading level=1 %}
    About Tech Weeklies
  {% endHeading %}

  <div class="vs3 measure-prose">
    {% Text %}
      Every week, Futurice employees get together to share their latest thoughts about tech.
    {% endText %}

    <div class="aspect-ratio aspect-ratio--6x4 bg-moon-gray">
      <img class="aspect-ratio--object fit-cover" src="" alt="" />
    </div>
  </div>
</article>
