---
layout: layouts/base.njk
title: About
tags:
  - nav
navtitle: About
templateClass: tmpl-post
---

<article class="pt4 pt5-ns pb4 vs4">
  {% Heading level=1 %}
    About Tech Weeklies
  {% endHeading %}

  <div class="vs3 measure-prose">
    {% Text %}
      Weekly event at Futurice where developers from all our offices in Finland, Sweden, Norway, Germany and UK are sharing their experience with various frameworks, languages, techniques, services and projects.
    {% endText %}
  </div>
</article>
