/*
    The "preview" Youtube Video needs some special handling to preserve the
    established affordances for the user:
        - The entire area is clickable
        - When you hover on it, the button becomes red
*/
.youtube-video {
  background: linear-gradient(#212121, rgba(33, 33, 33, 0.05) 10%);
}

.youtube-video-button {
  width: 68px;
  height: 48px;
}

.youtube-video-svg {
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.youtube-video-svg-fg {
  stroke: #ffffff;
  fill: #ffffff;
}

.youtube-video-svg-bg {
  fill: #212121;
  fill-opacity: 0.8;
  transition: fill 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    fill-opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/* States */

/* Interactive (has JS) */
.youtube-video--active,
.youtube-video-button--active {
  cursor: pointer;
}

.youtube-video--active:hover .youtube-video-svg-bg {
  fill: #ff0000;
  fill-opacity: 1;
}

.youtube-video-button--active:hover .youtube-video-svg-bg,
.youtube-video-button--active:focus .youtube-video-svg-bg {
  fill: #ff0000;
  fill-opacity: 1;
}

/** Inactive (no JS) */
.youtube-video-button--inactive {
  opacity: 0.5;
}
