---
layout: layouts/home.njk
tags:
  - nav
navtitle: Archive
title: Archive
permalink: /posts/
---

<article class="pt4 pt5-ns pb4 vs4">
  <h1 class="mv0 f2 f1-ns fw6 lh-title">{{ title }}</h1>

  <div class="nested measure-prose">
    {% set postslist = collections.posts %}
    {% include "postslist.njk" %}
  </div>
</article>