---
layout: layouts/home.njk
title: Home
tags:
  - nav
---

<h1 class="mv5 mw5 center fill-accent fg-accent animation-logo animate-me">
  {% include "svg/tech1.svg" %}
</h1>

<div class="vs5">
  <div class="vs4">
    <h2 class="mv0 f2 fw6 lh-title">Latest Talk</h2>

    {% set latest = collections.posts | last %}
    {% include "latestPost.njk" %}
  </div>

  <div class="vs4">
    <h2 class="mv0 f2 fw6 lh-title">Past Talks</h2>

    <div class="vs3 nested measure-prose">
      {% set postslist = collections.posts | head(-3) %}
      {% include "postslist.njk" %}

      <p class="f5 f4-ns">More talks can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
    </div>
  </div>
</div>
