---
layout: layouts/home.njk
title: Home
tags:
  - nav
---

<h1 class="mv5 mw5 center fill-accent fg-accent animation-logo animate-me">
  {% include "svg/tech1.svg" %}
</h1>

<div class="vs5">
  <div class="vs4">
    {% Heading level=2 %}
      Latest Talk
    {% endHeading %}

    {% set latest = collections.posts | last %}
    {% include "latestPost.njk" %}
  </div>

  <div class="vs4">
    {% Heading level=2 %}
      Past Talks
    {% endHeading %}

    <div class="measure-prose">
      {% set postslist = collections.posts | head(-3) %}
      {% include "postslist.njk" %}
    </div>

    {% Text %}
      More talks can be found in 
      {% Link { href: '/posts/' | url } %}
        the archive.
      {% endLink %}
    {% endText %}
  </div>
</div>
