---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
layout: layouts/home.njk
renderData:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
{% Heading level=1 %}
  Tagged "{{ tag }}"
{% endHeading %}

<div class="">
  {% set postslist = collections[ tag ] %}
  {% include "postslist.njk" %}

  {% Text %}
    See
    {% Link href="/tags/"|url %}
      all tags.
    {% endLink %}
  {% endText %}
</div>
