<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ renderData.title or title or metadata.title }} | Tech Weeklies</title>

    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">

    {# Preload variable font. Browsers with preload also support variable fonts, so this is a good balance.
      Fonts are loaded with crossorigin anonymous because of browser behaviour.
    #}
    <link rel="preload" href="{{ '/fonts/phantom-sans-v4-variable.woff2' | url}}" as="font" type="font/woff2" crossorigin>

    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">

    {# Adds an event listener to capture uncaught errors. #}
    <script>addEventListener('error', window.__e=function f(e){f.q=f.q||[];f.q.push(e)});</script>

    {# Loads the debug version of analytics.js. **Important!** replace
    `analytics_debug.js` with `analytics.js` before deploying to production. #}
    <script async src="https://www.google-analytics.com/analytics_debug.js"></script>

  </head>
  <body class="mw7 pa3 center theme-dark fg-primary bg-secondary f-phantomsans">
    <header>
      {% include "SkipLink.njk" %}
      <nav class="flex flex-row justify-between items-center flex-wrap">
        <a class="db fg-accent fw7 link" href="{{ '/' | url }}">{{ metadata.title }}</a>
        <ul class="ml0 pl0 flex list">
          {%- for nav in collections.nav | reverse -%}
          <li class="db ml3 {% if nav.url == page.url %} nav-item-active{% endif %}">
            <a
              {% if nav.url == page.url %}aria-current="page"{% endif %}
              class="fg-primary hover-fg-accent focus-outline-accent link"
              href="{{ nav.url | url }}">
                {{ nav.data.navtitle }}
            </a>
          </li>
          {%- endfor -%}
        </ul>
      </nav>
    </header>

    <main id="main" class="{% if templateClass %}{{ templateClass }}{% endif %}">
      {{ content | safe }}
    </main>

    <footer>
    </footer>

    <script src="{{ '/js/index.js' | url }}" defer></script>
  </body>
</html>
