---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>

<div class="f5 nested-copy-line-height nested-headline-line-height nested-copy-separator nested-img nested measure-prose">
  {{ content | safe }}

  <p><a href="{{ '/' | url }}">← Home</a></p>
</div>
